<div class=event id=event<%= event.event_id %>>
    <div class='ui tiny header'><%= event.event_time[1] %> <%= event.event_time[2] %> <%= event.event_time[3] %></div>
    <div>
        <span class='ui medium header'><%= event.event_time[0] %> <%= event.event_time[4] %> <%= event.event_time[5] %></span>
        <span>
            <% if(attendees.find( at => at.accountName == username)) { %>
                <button class='attend ui right floated button tiny' id=btn<%= event.event_id %> data-id=<%= userId %> >UNATTEND</button><br>
            <% } else { %>
                <button class='attend ui right floated button tiny' id=btn<%= event.event_id %> data-id=<%= userId %> >ATTEND</button><br>
            <% } %>
        </span>
    </div>
    <ul id=attendees<%= event.event_id %>>
    <% attendees.forEach( at => { %>
        <li class='item '><%= at.accountName %></li>
    <% }) %>
    </ul>
</div>
