<!-- views/partials/resultItem.ejs -->
<div class=resultItem
    data-id=<%= item.id %>
    data-name=<%= item.name %> >
        <%= item.name %><br>
        <img src=<%= item.image_url %> height="40" width="40">
        Rating: <%= item.rating %>
        Price: <%= item.price %>
        <a href='/events/<%= item.id %>' >View Events</a>
</div>
