<!-- views/partials/resultItem.ejs -->
<div class=resultItem data-id=<%= item.id %> data-name=<%= item.name %> >
	<div class="ui center aligned segment">
        <%= item.name %><br>
        <img class="ui centered small rounded image" src=<%= item.image_url %>><br>
        Rating: <%= item.rating %>
        Price: <%= item.price %><br>
        <a href='/events/<%= item.id %>' >View Events</a>
	</div>
</div>
