<!-- views/pages/events.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>I'm Hungry</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.min.css" />
    <style>
        .centered{
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 600px;
        }
    </style>
</head>
<header>
    <% include ../partials/headerBar.ejs %>
    <div id=username data-username=<%= username %> style="display:none;">
</header>
<body>
    <div id="main" class="centered">
        <h1 class='ui header'><%= result.name %></h1>
        <button class='addEvent ui labeled icon button'>
            <i class='add icon'></i>
            Add Event
        </button>
        <a target="_blank" href=<%= result.url %> >Yelp</a>

        <form class='ui form' action='/addEvent' method='post' id=calendarForm>
            <input type="hidden" name="location" value=<%= location %> />
            <div class='ui calendar'>
                <div class='ui input left icon'>
                    <i class='calendar icon'></i>
                    <input id='dateInput' type='text' name='date' placeholder='Date/Time'>
                </div>
            </div>
            <button class='ui button' type=submit required>Submit</button>
        </form>
    <div class='eventListaddEvent ui divided items middle aligned selection list'>
        <% for(var i = 0; i < eventList.length; i++) { %>
            <div class='item'>
            <%- include('../partials/event', {
                event: eventList[i],
                attendees: attendees[i],
                userId: userId
            }); %>
            </div>
        <% } %>
    </div>
    </div>
</body>
<footer>
<br><br><br>
</footer>
</html>

<script type='text/javascript'>
$(document).ready(function() {
    $('.ui.calendar').calendar();
    $('#calendarForm').hide();
    // Event handler to add user to event
    $('.attend').click(function() {
        var username = $('#username').attr('data-username');
        var btnId = $(this).attr('id');
        var data = {
            id: this.getAttribute('data-id')
        }
        $.post('/attendEvent', {
            id: this.getAttribute('data-id'),
            eventId: btnId.substring(3,)
        }, function(data) {
            var attendButton = $('#'+btnId);
            if($(attendButton).text() === "ATTEND") {
                attendButton.text('UNATTEND');
                $("#attendees"+btnId.substring(3,)).append("<li>"+username+'</li');
            } else {
                $("#attendees"+btnId.substring(3,)+" li:contains('"+username+"')").remove();
                attendButton.text('ATTEND');
            }

        });
    });
    // Event handler to add new event
    $('.addEvent').click(function() {
        $('#calendarForm').toggle();
    });
});
</script>
